@charset "UTF-8";body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,button{margin:0}
body{font-size:12px;font-family:"MicroSoft YaHei",SimHei,SimSun,Arial;color:#252525}
h1,h2,h3,h4,h5,h6,th{font-weight:normal}
ul,ol{list-style:none;margin:0;padding:0}
img{border:0}
i,em{font-style:normal}
input[type="text"],input[type="search"],input[type="submit"],input[type="button"],button{-webkit-appearance:none}
a{color:#444;text-decoration:none}
a:hover{color:#e13a3b;text-decoration:underline}
.ne_ua_ie6{_background:#fff url(http://img1.cache.netease.com/auto/2015/9/15/20150915144108ab56a.gif) no-repeat fixed}
.clearfix:after{display:block;content:"";clear:both}
.clearfix{_height:1%}
.fl{float:left;_display:inline}
.fr{float:right;_display:inline}
.hide{display:none}
.show{display:block}
.blk-50{height:40px;clear:both}
.blk-45{height:36px;clear:both}
.blk-40{height:32px;clear:both}
.blk-35{height:28px;clear:both}
.blk-30{height:24px;clear:both}
.blk-25{height:20px;clear:both}
.blk-20{height:16px;clear:both}
.blk-15{height:12px;clear:both}
.blk-10{height:8px;clear:both;overflow:hidden;*font-size:0}
.blk-5{height:4px;clear:both;overflow:hidden;*font-size:0}
.blk-2{height:2px;clear:both;overflow:hidden;*font-size:0}
.blk-1{height:1px;clear:both;overflow:hidden;*font-size:0}
.text-unselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
@-webkit-keyframes fadeIn{from{opacity:0}
to{opacity:1}
}
@keyframes fadeIn{from{opacity:0}
to{opacity:1}
}
@-webkit-keyframes fadeOut{from{opacity:1}
to{opacity:0}
}
@keyframes fadeOut{from{opacity:1}
to{opacity:0}
}
.ga{overflow:hidden;margin:0 auto;position:relative}
.ga img{max-width:100%}
.ga-x_100{height:80px}
.ga-300_250{width:240px;height:200px}
.ga-300_400{width:240px;height:320px}
.ga-300_400{width:240px;height:320px}
.ga-1200_125{width:960px;height:100px}
.ga-300_40{width:240px;height:32px}
.ga-pack{width:960px;height:40px;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out}
.ga-pack .ga-1200_125{display:none}
.ga-banner-hover{height:100px}
.ga-banner-hover .ga-1200_50{display:none}
.ga-banner-hover .ga-1200_125{display:block}
.ga-banner-hover .ga-01,.ga-banner-hover .ga-02{height:100%;position:relative}
.ga-banner-hover .ga-01 a.mask-flash,.ga-banner-hover .ga-01 embed,.ga-banner-hover .ga-02 a.mask-flash,.ga-banner-hover .ga-02 embed{position:absolute;top:0;left:0;right:0;bottom:0;z-index:1}
.ga-banner-hover .ga-01 a.mask-flash,.ga-banner-hover .ga-02 a.mask-flash{z-index:2;opacity:0;filter:alpha(opacity=0)}
.ad_hover_href{width:30px;height:17px;position:absolute;left:0;bottom:0;z-index:10;background:url(http://img1.126.net/channel18/ad.png) no-repeat}
.ntes-nav-main,.auto_ft_nav_wrap{width:960px;overflow:visible;*zoom:1}
.ntes-nav-main:after,.auto_ft_nav_wrap:after{content:" ";display:table;clear:both}
.auto-header{background:#f8f8f8;border-bottom:1px solid #e5e5e5}
.auto-header .N-nav-channel{width:100%;padding:10px 0}
.auto-header .N-nav-channel a{margin:0 -1px;border:0}
.auto-channel{height:29px;margin:15px 0 10px 0}
.auto-channel .auto-attlogo{overflow:hidden;text-indent:-999px}
.auto-channel .auto-logo{margin-right:15px;background-position:0 0}
.auto-channel .auto-logo a{width:100%;height:100%;text-indent:-999px;overflow:hidden;display:block}
.auto-channel .at-r{*width:215px;float:right;height:29px}
.auto-channel .at-r .at-date{color:#666;line-height:38px}
.auto-channel .auto-calendar{float:right}
.auto-channel .auto-calendar .at-select-name{min-width:80px;padding-left:20px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px}
.auto-channel .auto-fr{float:right}
.auto-channel .auto-fr .auto-search{float:left}
.auto-nav{background:#313131;height:40px;line-height:40px;text-align:center}
.auto-nav .nav{width:100%}
.auto-nav a{font-size:13px;display:block;color:#fff;-webkit-transition:all .1s ease-out;-moz-transition:all .1s ease-out;transition:all .1s ease-out}
.auto-nav a:hover{color:#fff}
.auto-nav a:hover{text-decoration:none;background:#535353}
.auto-nav a.active{font-size:14px;background:#e13a3b;padding:0 6px}
.passport-entry .weibo a,.passport-entry .weibo a:hover,.passport-entry .mail a,.passport-entry .mail a:hover,.passport-entry .rss a,.passport-entry .rss a:hover{background-image:url("http://img1.cache.netease.com/auto/frontend/images/icons-sprites-v3add.png");background-repeat:no-repeat;display:block;height:33px;transition:background .3s cubic-bezier(0.17,0.67,0.88,1.25) 0s,color .2s linear 0s;width:33px}
.ic_newsapp_ft{float:left;_display:inline;width:26px;height:30px;border-left:1px solid #cbcbcb;padding-left:16px;margin-left:10px}
.ic_newsapp_ft a{display:block;width:26px;height:30px;background:url(http://img1.cache.netease.com/f2e/news/index2015/img/newsapp.png) no-repeat;_background:url(http://img1.cache.netease.com/f2e/news/index2015/img/newsapp_8.png) no-repeat;background-position:0 0;webkit-transition:all .25s linear .1s;-moz-transition:all .25s linear .1s;-ms-transition:all .25s linear .1s;-o-transition:all .25s linear .1s;transition:all .25s linear .1s}
.ic_newsapp_ft a:hover{background-position:0 -31px}
.ic_cloudapp_ft{float:left;width:33px;height:33px;background:url(http://img1.cache.netease.com/f2e/news/res/img/cloudapp.png) no-repeat;_background:url(http://img1.cache.netease.com/f2e/news/res/img/cloudapp_8.png) no-repeat;background-position:0 0;-webkit-transition:background .3s cubic-bezier(0.17,0.67,0.88,1.25);-moz-transition:background .3s cubic-bezier(0.17,0.67,0.88,1.25);-o-transition:background .3s cubic-bezier(0.17,0.67,0.88,1.25);transition:background .3s cubic-bezier(0.17,0.67,0.88,1.25)}
.ic_cloudapp_ft:hover{background-position:0 -34px}
.sub_footer_channels ul{*zoom:1}
.sub_footer_channels ul:after{content:" ";display:table;clear:both}
.sub_footer_channels ul li{float:left;line-height:24px;white-space:nowrap}
.sub_footer_channels ul li a{color:#888}
.sub_footer_channels ul li a:hover{color:#e13a3b}
.ns9 .auto_ft_nav_wrap{font-family:\5B8B\4F53,Arial,Helvetica,sans-serif;font-size:12px}
.ns9 .auto_ft_nav_wrap .af_nav_content{float:right}
.ns9 .auto_ft_nav_wrap .af_nav_channel{margin:26px 5px 0 0}
.ns9 .auto_ft_nav_wrap .sub_footer_channels{width:240px;height:360px}
.ns9 .auto_ft_nav_wrap .sub_footer_channels li{width:33%}
.ns9 .auto_ft_nav_wrap .af_nav_other_info{width:220px;height:350px;padding:30px 0 0 10px}
.ns9 .auto_ft_nav_wrap .af_nav_other_info .top_search .textBox{width:198px}
.ns9 .N-nav-bottom-main{width:900px}
.ns9 .N-nav-bottom-main a,.ns9 .N-nav-bottom-main a:visited,.ns9 .N-nav-bottom-main a:hover{padding:0 1px}
.ns12 .auto_ft_nav_wrap{font-family:\5B8B\4F53,Arial,Helvetica,sans-serif;font-size:12px}
.ns12 .auto_ft_nav_wrap .af_nav_content{float:right;height:400px}
.ns12 .auto_ft_nav_wrap .sub_footer_channels{width:300px;padding:20px 0 0 60px;height:380px}
.ns12 .auto_ft_nav_wrap .sub_footer_channels li{width:27%}
.ns12 .auto_ft_nav_wrap .af_nav_other_info{padding-left:50px;height:350px}
.ns12 .auto_ft_nav_wrap .af_nav_other_info .top_search{width:208px;border:1px solid #ddd}
.ns12 .auto_ft_nav_wrap .af_nav_other_info .top_search .textBox{width:186px;text-indent:8px}
.auto_ft_nav_wrap .old_history{margin-top:17px;width:86px}
.auto_ft_nav_wrap .at-select{display:block;margin:0}
.auto_ft_nav_wrap .at-select .at-select-name{border-radius:0;display:block;padding-left:6px}
.auto_ft_nav_wrap .at-select .at-select-list{top:auto;bottom:100%;margin-top:0;margin-bottom:8px;font-family:"MicroSoft YaHei",SimHei,SimSun,Arial}
.auto_ft_nav_wrap .af_nav_content .af_nav_other_info .top_search_focus,.auto_ft_nav_wrap .af_nav_content .af_nav_other_info .top_search_hover{border-color:#aaa}
.ns9 .auto-fix-menu{display:none !important}
.ns9 .auto-channel .auto-attlogo,.ns9 .auto-channel .auto-logo{zoom:.86;-moz-transform:scale(0.86)}
.ns9 .at-focus-head .pic-left .pic-text span{font-size:18px}
.ns9 .s-buycar .m-at-search .at-s-type li i,.ns9 .s-buycar .m-at-search .at-s-result .s-result-tag i{zoom:.75;-moz-transform:scale(0.86)}
#passport_helper_div{display:none !important}
body ::-webkit-scrollbar{width:6px}
body ::-webkit-scrollbar-thumb:vertical{background-color:#eee;border-radius:8px}
body ::-webkit-scrollbar-thumb:hover{background-color:#ccc;border-radius:8px}
.container{width:960px;margin:0 auto;overflow:hidden;*zoom:1}
.container:after{content:" ";display:table;clear:both}
.container .side_focus{width:320px;height:318px;border:1px solid #e5e5e5;float:right}
.container .side_focus .m-title{height:21px}
.container .side_focus .m-title h2{font-weight:normal;font-size:19px;line-height:19px;*line-height:normal;float:left;color:#444}
.container .left_main{width:664px;float:left}
.container .right_bar{width:240px;float:right}
.wrap-tab-panels{background:#f8f8f8}
.s{width:960px;margin:0 auto;*zoom:1}
.s:after{content:" ";display:table;clear:both}
.s .s-title{height:40px;border-bottom:4px solid #444;_overflow:hidden}
.s .s-title h2{height:40px;width:160px;float:left;line-height:1;font-weight:normal;font-size:32px;position:relative;_top:0;border-bottom:4px solid #e13a3b}
.s .s-title h2:before{content:"";width:3px;height:4px;position:absolute;right:0;bottom:-4px;background:#fff;display:block}
.s .s-title h2 a{color:#e13a3b;white-space:nowrap}
.s .s-title h2 a:hover{text-decoration:none;color:#e13a3b}
.s .s-title .s-title-sub{float:right;margin-top:14px}
.s .s-title .s-title-sub a{font-size:13px;margin-left:10px;line-height:16px;color:#666}
.s .s-title .s-title-sub a:hover{color:#e13a3b}
.s .col-l{width:664px;float:left}
.s .col-l-1{width:336px;float:left}
.s .col-l-1 .img-showcase{width:304px;height:170px}
.s .col-l-2{width:304px;float:right}
.s .col-l-2 .img-showcase{width:304px;height:170px}
.s .sidebar{width:240px;float:right}
.s .col-l2{width:572px;float:left}
.s .sidebar2{width:326px;float:right;*zoom:1}
.s .sidebar2:after{content:" ";display:table;clear:both}
.s .sidebar2 .sidebar2_l{width:132px;float:left}
.s .sidebar2 .sidebar2_r{width:162px;float:right}
.m .m-title{height:21px;position:relative}
.m .m-title h2{font-weight:normal;font-size:19px;line-height:19px;*line-height:normal;float:left}
.m .m-title h2.sty-red{border-left:3px solid #e13a3b;padding-left:10px}
.m .m-title h2 a{position:relative;margin-top:0;color:#444;vertical-align:middle;display:inline-block;*display:inline;*zoom:1;vertical-align:top}
.m .m-title h2 a:hover{color:#e13a3b}
.list-news .item-top{line-height:32px;height:32px;padding-left:0;background:0;margin-bottom:0;font-size:16px;font-weight:normal}
.list-news .item-top a{color:#444}
.list-news .item-top a:hover{color:#e13a3b}
.list-news .item-top:after{display:none}
.list-news span.time,.list-news span.num{float:right;color:#aaa;letter-spacing:0;font-size:12px;padding-left:12px}
.list-news a{letter-spacing:0;color:#555}
.list-news a:hover{color:#e13a3b}
.table{width:100%;table-layout:fixed;border-collapse:separate}
.table .t-head{font-size:13px;color:#888;height:26px;white-space:nowrap}
.table td{height:27px;color:#444;padding:0 2px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.table .t-time{width:35%}
.table .t-cname{width:37%}
.table .t-price{width:28%}
.table .t-price a{color:#db1011}
.table .t-price a:hover{color:#e13a3b}
.a-more{float:right;margin-top:9px;line-height:16px;color:#888}
.a-more:hover{color:#e13a3b}
.a-more:hover i{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg)}
.loading{text-align:center;margin:40px 0;height:36px;line-height:36px;font-size:16px}
.auto-sub-nav{width:960px;margin:0 auto;background:#f8f8f8;color:#e5e5e5}
.auto-sub-nav table{text-align:center;width:100%;table-layout:fixed;height:40px}
.auto-sub-nav td:last-child a{border-right:0}
.auto-sub-nav a{display:inline-block;width:100%;height:17px;line-height:17px;font-size:13px;color:#444;border-right:1px solid #e5e5e5}
.auto-sub-nav a:hover{text-decoration:none;color:#e13a3b}
.auto-sub-nav a.active{color:#e13a3b}
.auto_channel_pages{padding:16px 0;text-align:center;color:#444}
.auto_channel_pages a{text-decoration:none}
.auto_channel_pages a:hover{color:#bb0f2e}
.auto_channel_pages .page_fenge{margin:0 12px}
.auto_channel_pages .ac_page{width:28px}
.auto_channel_pages .ac_page,.auto_channel_pages .ac_pages_pre,.auto_channel_pages .ac_pages_next{line-height:28px;height:28px;font-size:14px;color:#444;display:inline-block}
.auto_channel_pages .ac_pages_pre,.auto_channel_pages .ac_pages_next{font-family:SimSun,sans-serif;font-size:16px}
.auto_channel_pages .ac_pages_pre span,.auto_channel_pages .ac_pages_next span{font-size:14px}
.auto_channel_pages span.ac_pages_pre,.auto_channel_pages span.ac_pages_next{background-color:#444;color:#fff}
.auto_channel_pages .ac_page_active{background-color:#bb0f2e;color:#fff}
.auto_cp_sharebox{display:none;height:20px;width:132px}
.auto_cp_sharebox .netease,.auto_cp_sharebox .sina,.auto_cp_sharebox .qqZone,.auto_cp_sharebox .renren,.auto_cp_sharebox .ydCloud{display:inline-block;margin-left:5px;width:20px;height:20px;line-height:20px;-webkit-transition:background .3s cubic-bezier(0.17,0.67,0.88,1.25),color .2s linear;-moz-transition:background .3s cubic-bezier(0.17,0.67,0.88,1.25),color .2s linear;-o-transition:background .3s cubic-bezier(0.17,0.67,0.88,1.25),color .2s linear;transition:background .3s cubic-bezier(0.17,0.67,0.88,1.25),color .2s linear;cursor:pointer;overflow:hidden;font-size:0;line-height:0;vertical-align:middle}
.at-select{position:relative;margin-left:13px;overflow:hidden;vertical-align:middle;display:inline-block;*display:inline;*zoom:1}
.at-select .at-select-name{cursor:pointer;color:#888;height:21px;line-height:21px;border:1px solid #e1e1e1;position:relative;background-color:#fff;min-width:32px;padding:0 19px 0 16px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;vertical-align:middle;display:inline-block;*display:inline;*zoom:1}
.at-select .at-select-name .at-select-arrow{position:absolute;right:9px;top:50%;margin-top:0;width:0;height:0;border-left:3px dashed transparent;border-right:3px dashed transparent;border-top:3px solid #aaa;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;transition:all .3s ease-out}
.at-select .at-select-name .nowcity{white-space:nowrap}
.at-select .at-select-list{position:absolute;right:0;margin-top:8px;z-index:999;background-color:#fff;border:1px solid #e5e5e5;box-shadow:0 -1px 8px #eae7e7;opacity:0;filter:alpha(opacity=0);-webkit-transform:translate(0,16px);-moz-transform:translate(0,16px);transform:translate(0,16px);-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;transition:all .3s ease-out}
.at-select .at-select-list .at-select-if{position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;overflow:hidden;border:0;background:0;width:100%;height:100%;visibility:hidden}
.at-select-hover{overflow:visible;z-index:100}
.at-select-hover .at-select-name{border-color:#aaa}
.at-select-hover .at-select-list{*top:18px;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0);opacity:1;filter:alpha(opacity=100)}
.at-select-hover .at-select-arrow{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.at-city-menu{float:right;height:23px}
.at-city-menu .city-menu-list{padding:3px 20px;width:320px}
.at-city-menu .city-menu-list .city-menu-pop{position:relative;z-index:2}
.at-city-menu .city-menu-list .city-menu-pop dl{border-bottom:1px solid #eee;padding:6px 0;line-height:22px;*zoom:1}
.at-city-menu .city-menu-list .city-menu-pop dl:last-child{border:0}
.at-city-menu .city-menu-list .city-menu-pop dl:after{content:" ";display:table;clear:both}
.at-city-menu .city-menu-list .city-menu-pop dl dt{color:#444;font-size:13px;float:left;width:15%}
.at-city-menu .city-menu-list .city-menu-pop dl dd{width:85%;float:left}
.at-city-menu .city-menu-list .city-menu-pop dl dd a{white-space:nowrap;margin-left:8px;color:#888}
.at-city-menu .city-menu-list .city-menu-pop dl dd a:hover{color:#e13a3b}
.slider{overflow:hidden;position:relative;padding-bottom:22px;*z-index:1}
.slick-track{overflow:hidden;*zoom:1}
.slider-scroll{position:relative;width:4000px;*z-index:1}
.slider-animate-fade .slider-item{position:absolute;left:0;top:0;right:0;background-color:#fff;opacity:0;filter:alpha(opacity=0)}
.slider-animate-fade .slider-item-active{opacity:1;filter:alpha(opacity=100);z-index:2}
.slider-dots{height:12px;width:100%;position:absolute;z-index:3;left:0;bottom:0;*bottom:5px;line-height:8px;text-align:center}
.slider-dots .item-dot{cursor:pointer;margin:0 2px;padding:2px 4px}
.slider-dots .item-dot i{display:inline-block;*display:inline;*zoom:1;_font-size:0;width:8px;height:8px;background:#dcdcdc;overflow:hidden;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.slider-dots .item-dot-active i{background:#e13a3b}
.img-showcase{position:relative;z-index:1;overflow:hidden}
.img-showcase *{cursor:pointer}
.img-showcase a{display:block;position:relative;z-index:1;color:#fff}
.img-showcase a:hover{color:#fff;text-decoration:none}
.img-showcase a:hover .img-mask{opacity:0;filter:alpha(opacity=0)}
.img-showcase a:hover img{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05)}
.img-showcase img,.img-showcase video{display:block;vertical-align:top;height:170px;width:100%}
.img-showcase img{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;transition:all .3s ease-out}
.img-showcase video{position:absolute;top:0;left:0;right:0;bottom:0;z-index:1}
.img-showcase .img-mask{position:absolute;z-index:2;top:0;left:0;right:0;bottom:0;background:#000;opacity:.1;filter:alpha(opacity=10);-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out}
.img-showcase .img-title{position:absolute;z-index:4;left:0;right:5px;bottom:0;text-indent:14px;line-height:38px;height:38px;font-size:13px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.tab-hd{height:40px;border-bottom:1px solid #e5e5e5;*zoom:1;position:relative}
.tab-hd:after{content:" ";display:table;clear:both}
.tab-hd dl{position:relative;z-index:1;float:left}
.tab-hd dl dt{position:absolute;left:0;bottom:-1px;height:1px;*overflow:hidden;*font-size:0;background-color:#e13a3b}
.tab-hd dl dd{padding:0 2px;float:left;height:40px;margin-right:35px;font-size:22px;color:#aaa}
.tab-hd dl dd.tab-current{color:#e13a3b;border-bottom:1px solid #e13a3b}
.tab-hd dl dd.tab-current a{color:#e13a3b}
.tab-hd dl dd.tab-current a:hover{color:#e13a3b}
.tab-hd dl dd a{color:#aaa}
.tab-hd dl dd a:hover{color:#aaa}
.tab-hd dl dd a:hover{text-decoration:none}
.tab-hd.f-18{height:24px}
.tab-hd.f-18 dl{margin-right:-28px}
.tab-hd.f-18 dl dd{margin-right:26px;font-size:14px;height:24px}
.tab-hd .tab_search{float:right;margin-top:10px}
.tab-hd .tab_search .text{border-width:1px;border-style:solid;border-color:#e1e1e1;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;background:#fff;padding:3px 10px}
.tab-hd .tab_search .submit_btn{height:27px;line-height:27px;margin-left:10px;background:#e13a3b;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#fff;border:0;padding:0 10px}
.tab-hd .subtab{position:absolute;left:0;top:-60px}
.tab-panels{position:relative;z-index:1;margin-top:12px}
.tab-panels .tab-panel{display:block;position:absolute;top:0;left:0;right:0;background:#fff;_width:100%;opacity:0;filter:alpha(opacity=0)}
.tab-panels .tab-current{z-index:2;opacity:1;filter:alpha(opacity=100)}
.auto-fix-menu{position:fixed;z-index:10;left:50%;bottom:13%;margin-left:640px;width:60px;text-align:center;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-505))}
.auto-fix-menu .auto-uptop{background-color:#ddd;display:block;height:60px;overflow:hidden;text-align:center;font-size:0;line-height:0;text-indent:-999px;margin-top:20px}
.auto-fix-menu .auto-uptop:hover i{-webkit-animation:toTopFromBottom .4s forwards}
.small-nav{width:40px;margin-left:605px}
.small-nav li a{height:35px;line-height:35px;font-size:12px}
.small-nav .auto-uptop{height:35px;margin-top:10px}
@-webkit-keyframes toTopFromBottom{49%{-webkit-transform:translateY(-100%)}
50%{opacity:.3;-webkit-transform:translateY(40%)}
51%{opacity:1}
}
.searchcar{width:253px;height:auto;font-family:"MicroSoft YaHei",SimHei,SimSun,Arial}
.searchcar li.searchcar_brand_selected a{background:0}
.searchcar li.searchcar_brand_selected a:hover{background:#f8f8f8}
.searchcar_keyword,.searchcar_arrow_close,.searchcar_btn{height:21px;border:0}
.searchcar_arrow_close{background:#fff;float:none;position:absolute;left:164px;top:50%;margin-top:0;width:0;height:0;border-left:3px dashed transparent;border-right:3px dashed transparent;border-top:3px solid #aaa}
.searchcar_keyword input{height:21px;line-height:21px;padding-left:16px;width:168px}
.searchcar_keyword{border-width:1px;border-style:solid;border-color:#e1e1e1;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;background:#fff}
.searchcar_keyword input{background:transparent}
.searchcar_btn,.searchcar_btn:hover{height:22px;line-height:22px;margin-left:8px;background:#e13a3b;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#fff;border:0}
.searchcar_popup{padding-right:8px;width:176px}
.searchcar_suggest_wrapper,.searchcar_popup,.searchcar_types ul{border:1px solid #e5e5e5;box-shadow:0 -1px 8px #eae7e7}
.searchcar_suggest_wrapper,.searchcar_popup{padding:14px 0;margin-top:8px;z-index:100}
.searchcar_popup{padding-right:4px;width:180px}
.searchcar_types ul{left:136px;margin-top:8px}
.searchcar_types ul a:hover{background:#f8f8f8}
.searchcar_letters{width:38px}
.searchcar_letters a{color:#444}
.searchcar_brands_item .auto_brandlogo_trans_48x48{display:none}
.searchcar_panel{border-left:1px solid #eee}
.searchcar_brand li a{height:32px;line-height:32px;background:0}
.searchcar_brand li a:hover{padding:1px 0 0 14px}
.searchcar_brand li strong{padding:10px 0}
.searchcar_types_scroll ul{height:348px}
.searchcar_brand ul .loading{height:auto;margin:0;text-align:left}
.cartype{width:960px;height:192px;float:left;overflow:hidden}
.cartype .tab-hd{height:33px}
.cartype .tab-hd dl{height:33px;margin-right:-34px;_overflow:hidden}
.cartype .tab-hd dl dd{height:33px;margin-right:64px;color:#888}
.cartype .tab-hd dl dd a{color:#888}
.cartype .tab-hd dl dd a:hover{color:#e13a3b}
.cartype .tab-hd dl dd.tab-current{color:#444;border-bottom:0}
.cartype .tab-hd dl dd.tab-current a{color:#444}
.cartype .tab-hd dl dd.tab-current a:hover{color:#e13a3b}
.cartype .tab-panels{margin-top:0;height:164px;overflow:hidden}
.cartype .tab-panels ul li{width:136px;float:left;min-height:28px;line-height:28px;padding:4px 0;border-bottom:1px solid #eee}
.cartype .tab-panels ul li img{width:82px;height:61px;vertical-align:top}
.cartype .tab-panels ul li h2{margin:-8px 0 6px;line-height:16px}
.cartype .tab-panels ul.list-hotcar-pic li{text-align:center}
.cartype .tab-panels ul.list-hotcar-pic li:nth-child(n+15){border-bottom:0}
.s-buycar .m-at-search .m-content{height:332px;background-color:#eee;overflow:hidden;padding:0 6px}
.s-buycar .m-at-search .at-s-type{height:50px;*zoom:1}
.s-buycar .m-at-search .at-s-type:after{content:" ";display:table;clear:both}
.s-buycar .m-at-search .at-s-type li{width:137px;text-align:center;color:#e13a3b;font-size:13px;line-height:48px;padding-right:24px;float:left}
.s-buycar .m-at-search .at-s-type li i,.s-buycar .m-at-search .at-s-type li span{vertical-align:middle;display:inline-block;*display:inline;*zoom:1}
.s-buycar .m-at-search .at-s-type li i.icon-s-1{background-position:0 -94px}
.s-buycar .m-at-search .at-s-type li i.icon-s-2{background-position:0 -29px}
.s-buycar .m-at-search .at-s-type li i.icon-s-3{background-position:0 -61px}
.s-buycar .m-at-search .at-s-type li i.icon-s-4{background-position:0 2px}
.s-buycar .m-at-search .at-s-list{background-color:#fff;*zoom:1}
.s-buycar .m-at-search .at-s-list:after{content:" ";display:table;clear:both}
.s-buycar .m-at-search .at-s-list .scroll-cont{width:153px;height:147px;float:left;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;padding:4px}
.s-buycar .m-at-search .at-s-list .scroll-cont ul{height:100%;padding:0 18px 0 10px;overflow-x:hidden;overflow-y:auto}
.s-buycar .m-at-search .at-s-list .scroll-cont li{cursor:pointer;height:19px;line-height:19px;padding:5px 0}
.s-buycar .m-at-search .at-s-list .scroll-cont li span{color:#444;display:block}
.s-buycar .m-at-search .at-s-list .scroll-cont li.current span{background-color:#e13a3b;color:#fff;padding-left:13px;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;transition:all .3s ease-out}
.s-buycar .m-at-search .at-s-list .scroll-cont li.disable{cursor:default}
.s-buycar .m-at-search .at-s-list .scroll-cont li.disable span{color:#ccc}
.s-buycar .m-at-search .at-s-list .scroll-cont li:hover span{background:#f0f0f0}
.s-buycar .m-at-search .at-s-list .scroll-cont li.current:hover span{background:#e13a3b}
.s-buycar .m-at-search .at-s-list .scroll-cont li.disable:hover span{background:0}
.s-buycar .m-at-search .at-s-result{height:120px;background-color:#fff}
.s-buycar .m-at-search .at-s-result .s-result-title{padding:4px 12px 0}
.s-buycar .m-at-search .at-s-result .s-result-title h2{float:left;color:#444;font-size:13px;margin-top:8px}
.s-buycar .m-at-search .at-s-result .s-result-tag{max-width:436px;height:21px;overflow:hidden;position:relative;float:left;padding:0 52px 0 4px;margin-top:8px}
.s-buycar .m-at-search .at-s-result .s-result-tag span{border:1px solid #e5e5e5;line-height:18px;height:18px;margin-left:4px;padding:0 24px 0 8px;position:relative;color:#888;max-width:80px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;vertical-align:middle;display:inline-block;*display:inline;*zoom:1}
.s-buycar .m-at-search .at-s-result .s-result-tag .a-reset{position:absolute;right:0;top:0;color:#e13a3b;border:1px solid #e13a3b;vertical-align:middle;line-height:18px;padding:0 8px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out}
.s-buycar .m-at-search .at-s-result .s-result-tag .a-reset:hover{background-color:#ec5758;color:#fff;text-decoration:none}
.s-buycar .m-at-search .at-s-result .s-result-cont .no-result{font-size:14px;color:#aaa;height:26px;line-height:26px;text-align:center;margin:27px 0}
.s-buycar .m-at-search .at-s-result .s-result-cont ul{padding:0 13px}
.s-buycar .m-at-search .at-s-result .s-result-cont li{float:left;width:103px;text-align:center}
.s-buycar .m-at-search .at-s-result .s-result-cont li .pic-block{height:56px;overflow:hidden}
.s-buycar .m-at-search .at-s-result .s-result-cont li .pic-block img{width:86px;height:65px;vertical-align:top}
.s-buycar .m-at-search .at-s-result .s-result-cont li h3{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.s-buycar .m-at-search .at-s-result .s-result-cont li.fadeOut{-webkt-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation:fadeOut .3s;animation:fadeOut .3s}
.s-buycar .m-hot-rank .tab-hd.f-18 dl dd{margin-right:16px}
.s-buycar .m-hot-rank .tab-hd.f-18 dl dd.tab-current{border-bottom:0}
.s-buycar .m-hot-rank .tab-panels{height:288px;overflow:hidden}
.s-buycar .m-hot-rank .rank-list li{height:29px;line-height:29px;overflow:hidden;*float:left}
.s-buycar .m-hot-rank .rank-list li .rank-link{width:101px;float:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.s-buycar .m-hot-rank .rank-list li .rank-num{width:20px;font-style:italic;margin-right:8px;float:left;font-size:14px}
.s-buycar .m-hot-rank .rank-list li .rank-price{float:right;color:#db1011;white-space:nowrap}
.s-buycar .m-hot-rank .rank-list li.rank-top{font-size:13px}
.s-buycar .m-hot-rank .rank-list li.rank-top .rank-num{color:#db1011;font-size:19px;font-family:'Georgia'}
.s-buycar .m-car-pk{padding-bottom:2px}
.s-buycar .m-car-pk .a-carpk{float:right;margin-top:3px;width:63px;height:20px;line-height:20px;cursor:pointer;text-align:center;background-color:#e13a3b;border:0;color:#fff;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.s-buycar .m-car-pk .a-carpk:hover{color:#fff}
.s-buycar .m-car-pk .a-carpk:hover{text-decoration:none;background-color:#ec5758}
.s-buycar .m-car-pk .tab-hd{float:left;width:64px;height:242px;background-color:#f8f8f8;border-bottom:0;position:relative;z-index:2;_margin-right:-1px}
.s-buycar .m-car-pk .tab-hd li{height:38px;line-height:38px;color:#888;border:1px solid #f8f8f8;border-right:0;text-align:center}
.s-buycar .m-car-pk .tab-hd li.tab-current{position:relative;z-index:1;width:64px;color:#444;height:38px;background-color:#fff;text-indent:-1px;border-color:#e5e5e5;border-bottom-color:#e13a3b}
.s-buycar .m-car-pk .tab-panels{float:right;width:176px;margin:0}
.s-buycar .m-car-pk .tab-panels .tab-panel{border:1px solid #e5e5e5;height:232px;padding-top:8px;width:174px}
.s-buycar .m-car-pk .tab-panels .tab-panel a:hover{text-decoration:none;color:#444}
.s-buycar .m-car-pk .tab-panels .tab-panel dl{text-align:center;margin:12px 10px 0;height:58px;overflow:hidden;border-bottom:1px solid #fff}
.s-buycar .m-car-pk .tab-panels .tab-panel dl:hover{border-bottom-color:#e13a3b}
.s-buycar .m-car-pk .tab-panels .tab-panel dt{color:#e13a3b;font-size:14px;font-style:italic;font-weight:bold;vertical-align:middle;display:inline-block;*display:inline;*zoom:1}
.s-buycar .m-car-pk .tab-panels .tab-panel dd{line-height:16px;width:64px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;display:inline-block;*display:inline;*zoom:1}
.s-buycar .m-car-pk .tab-panels .tab-panel dd img{width:56px;height:42px;vertical-align:top}
.sec-list{width:984px;*zoom:1}
.sec-list:after{content:" ";display:table;clear:both}
.sec-list-col1,.sec-list-col2,.sec-list-col3{width:326px;float:left}
.sec-list-item{width:310px;background:#fff;float:left;margin:0 16px 16px 0}
.sec-list-item .item-pic{display:block;width:310px;overflow:hidden}
.sec-list-item .item-pic img{display:block;width:100%;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;transition:all .3s ease-out}
.sec-list-item .item-pic:hover img{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05)}
.sec-list-item .item-cont{color:#888;margin:24px 16px}
.sec-list-item .item-cont h3{color:#444;font-size:18px;height:27px;overflow:hidden}
.sec-list-item .item-cont .item-tag{margin:8px 0 20px;height:29px}
.sec-list-item .item-cont .item-tag a{color:#aaa;display:inline-block;padding:2px 8px;margin-right:4px;border:1px solid #d4d4d4}
.sec-list-item .item-cont .item-tag a:hover{text-decoration:none;border:1px solid #e13a3b;color:#e13a3b}
.sec-list-item .item-cont p{line-height:26px;height:72px;overflow:hidden}
.sec-list-item .item-cont p a,.sec-list-item .item-cont p a:hover{color:#888}
.sec-list-item .item-cont .item-info{margin:20px 0 0;*zoom:1;color:#aaa}
.sec-list-item .item-cont .item-info:after{content:" ";display:table;clear:both}
.sec-list-item .item-cont .item-info .item-time{float:left}
.sec-list-item .item-cont .item-info .auto_cp_sharebox{position:absolute;right:10px}
.s-rank-wrap{width:1056px}
.s-rank .rank-item{width:296px;float:left}
.s-rank .rank-item.rank-item-2{margin:32px 32px 0 0}
.s-rank .rank-item.rank-item-2 .rank-list .rank-link{width:104px}
.s-rank .rank-item.rank-item-bar{width:100%;float:none}
.s-rank .rank-item .tab-hd{height:32px}
.s-rank .rank-item .tab-hd h2{font-size:19px;color:#444;font-weight:normal;float:left}
.s-rank .rank-item .tab-hd dl{float:right;margin:7px -24px 0 0}
.s-rank .rank-item .tab-hd dl dd{font-size:12px;margin-right:24px;height:24px}
.s-rank .rank-item .tab-hd .a-more{margin-top:0}
.s-rank .rank-item .rank-list{margin-top:12px}
.s-rank .rank-item .rank-list li{height:29px;line-height:29px;overflow:hidden;*float:left}
.s-rank .rank-item .rank-list li .rank-link{width:104px;float:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.s-rank .rank-item .rank-list li .rank-num{width:16px;font-style:italic;margin-right:8px;float:left}
.s-rank .rank-item .rank-list li .rank-top{color:#db1011;font-size:18px}
.s-rank .rank-item .rank-list li .rank-count{float:right;color:#aaa}
.s-rank .rank-item .rank-list li .rank-price{float:right;color:#db1011;white-space:nowrap}
.s-rank .rank-item .rank-list li .rank-link-btn{text-align:center;width:64px;height:21px;line-height:21px;color:#fff;background:#e13a3b;float:right;margin:4px 0 0 8px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-decoration:none}
.s-rank .rank-item .rank-list li.rank-top .rank-num{color:#db1011;font-size:18px;font-family:'Georgia'}
.s-rank .rank-item .rank-list li.current .rank_act{margin-right:0}
.s-rank .rank-item .rank-list li .rank_act{float:right;display:inline-block;margin-right:-85px;transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s}
.s-rank .tab-panels{height:288px;overflow:hidden}
.s-friendlink{_height:161px;min-height:161px}
.s-friendlink .tab-hd{height:32px}
.s-friendlink .tab-hd dl dd{font-size:19px;height:32px;margin-right:25px}
.s-friendlink .fl_sec{height:20px;line-height:20px;margin-top:8px;overflow:hidden}
.s-friendlink .fl_sec .fl_sec_hd{width:63px;height:20px;float:left;margin-right:16px;text-align:center;color:#fff;background-color:#d2d2d2;vertical-align:middle;display:inline-block;*display:inline;*zoom:1}
.s-friendlink .tab-panels{*width:960px;*float:left}
.s-friendlink .seolink-cnt{line-height:24px}
.s-friendlink .fl_sec a,.s-friendlink .seolink-cnt a{white-space:nowrap;margin-right:12px;float:left;color:#444}
.s-friendlink .fl_sec a:hover,.s-friendlink .seolink-cnt a:hover{color:#e13a3b}

