@CHARSET "UTF-8";
.item {
    float: left;
    margin-right: 10px;
    width: 1052px;
    /*height: 500px;*/
    /*border:2px dashed yellow;*/
    margin-top: 20px;
}
.item1 {
    margin-right: 10px;
    width: 1052px;
    height: 20px;
    /*border:2px dashed yellow;*/
    margin-top:5px;
}
.item2 {
    margin-right: 10px;
    /*width: 200px;*/
    height: 150px;
    /*border:2px dashed yellow;*/
    margin-top:5px;
    float: left;
}
.item .content {
    float: left;
    width: 500px;
}