<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cn.lzg.qczx.dao.NewsDao">

     <select id="queryById" resultType="News" >
          select 
              id,
              title,
              author_name,
              centent,
              image_url,
              publish_time,
              source 
          from
              qctt_news_grab
          where
              id = #{id}
    </select>
    
    <!--<select id="queryAll" resultType="News" >-->
          <!--select -->
              <!--id,-->
              <!--title,-->
              <!--author_name,-->
              <!--centent,-->
              <!--image_url,-->
              <!--publish_time,-->
              <!--source -->
          <!--from-->
              <!--qctt_news_grab-->
          <!--WHERE-->
              <!--channel_name LIKE  #{channelName}-->
          <!--order by -->
              <!--publish_time desc-->
          <!--limit #{offset},#{limit}-->
    <!--</select>-->
    <select id="queryAll" resultType="News" >
        select
        id,
        title,
        author_name,
        centent,
        image_url,
        publish_time,
        source
        from
        qctt_news_grab
        WHERE
	    id in
	    ( SELECT
	    news_id FROM qctt_news_grab_extend WHERE crawled_style LIKE #{crawledStyle})
        order by
        publish_time desc
        limit #{offset},#{limit}
    </select>

    <select id="queryCarousel" resultType="News" >
        select
        id,
        title,
        author_name,
        centent,
        image_url,
        publish_time,
        source
        from
        qctt_news_grab
        WHERE
        id in
	    ( SELECT
	    news_id FROM qctt_news_grab_extend WHERE crawled_style LIKE #{crawledStyle})
        order by
        publish_time desc
        limit #{offset},#{limit}
    </select>

    <select id="queryByKeyWords" resultType="News" >
        select
        id,
        title,
        author_name,
        centent,
        image_url,
        publish_time,
        source
        from
        qctt_news_grab
        WHERE
        title LIKE  #{keyWords}
        order by
        publish_time desc
        limit #{offset},#{limit}
    </select>
   
</mapper>